@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");


.container {
  display: flex;
  padding-left: 200px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  height: 100vh;
  width: 100%;
}

.card__body {
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2%;
  margin: 30px;
}

.favorite-card {
  padding: 10px 30px;
  border-radius: 10px;
  background: rgb(217, 217, 228);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.card h2{
    text-align: center;
    padding-top: 20px;
}

.card__title{
  margin: 0px;
  font-size: 1.4em;
  font-weight: 700;
}

.card__body p {
  font-size: 25px;
}

.grid-container p {
  color: rgb(5, 5, 15);
}

.card__image{
  width: 10rem;
  height: 10rem;
  border-radius: 10px;
  width: auto;
}
