.new-app {
    display: grid;
    row-gap: 3.5rem;
}
.favorite-card {
   display: grid;
    row-gap: 2.5rem;
    text-align: center;
}
.favorite-card h3 {
    margin-top: 0;
}

.favorite-card p {
    position: relative;
    margin-bottom: 0;
}

.container {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
}